.content-area.products-all-page{
  padding: 116px 0 0;
  display: grid;
  grid-template-columns: 25% 1fr;
  height: 100vh;
  overflow: hidden;
  .filter-section{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 20px 200px;
    button{
      background: #fff;
      padding: 1rem;
      display: block;
      color: black;
      font-weight: 700;
      margin-bottom: 1rem;
      cursor:pointer;
      width: 100%;
      font-weight: 700;
      border:none;
    }
    .toggle{
      display: none;
      &:checked{
        & + .title + .content{
          max-height: 200px;
          overflow-x: hidden;
          overflow-y: scroll;
        }
        & + .title:before{
          transform: rotate(90deg) !important;
        }
      }
    }

    .filter{
      position: relative;
      margin-bottom: 2rem;
    }

    .title,.content{
      backface-visibility: hidden;
      transform: translateZ(0);
      transition: all .2s;
    }
    .title{
      background: #fff;
      padding: 1rem;
      display: block;
      color: black;
      font-weight: 700;
      margin-bottom: 1rem;
      cursor:pointer;
    }
    .title:after, .title:before{
      content: '';
      position: absolute;
      right: 1.25em;
      top: 1.25em;
      width: 2px;
      height: 0.75em;
      background-color: black;
      transition: all 0.2s;
    }
    .title:after{
      transform: rotate(90deg);
    }
    .content{
      max-height: 0;
      overflow: hidden;
      .gender{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        list-style: none;
        text-align: center;
      }
      .brand{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        list-style: none;
        text-align: center;
      }
      .price{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        
        input{
          font-size: .9rem;
        }
        .option:hover{
          background: #ecf0f3 !important;
        }
      }
      .size{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        list-style: none;
        text-align: center;
      }
      .option{
        border: 1px solid #fff;
        padding: 10px;
        display: inline-block;
        color: grey;
        transition: all .2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover, &.selected{
          background: red;
          color: white;
          font-weight: 700;
          border: 1px solid red;
        }
      }
    }

  }
  .all-products-grid{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    position: relative;
    padding: 0 20px;
    .product-wrap{
      text-align: center;
      .title{
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .price{
        font-size: .9rem;
      }
    }
    .product{
      width: 100%;
      height: 300px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .circle{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #ecf0f3;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 151px 0px rgba(156,156,156, .27);
      }
      img{
        width: 150%;
      }
    }
  }
  .titles{
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding-left: 100px; 
    h3{
      font-size: 5rem;
      color: white;
      margin-bottom: 2rem;
      color: white;
    }
    h1{
      font-size: 10rem;
      font-weight: 900;
      color: white;
    }
  }
}