.content-area.home-page{
  .top-section{
    
    height: 100vh;
    width: 100%;
    position: relative;
    .product{
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .circle{
        width: 700px;
        height: 700px;
        border-radius: 50%;
        background: #ecf0f3;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 151px 0px rgba(156,156,156, .27);
      }
      img{
        width: 150%;
      }
    }
  }
  .titles{
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding-left: 100px; 
    h3{
      font-size: 5rem;
      color: white;
      margin-bottom: 2rem;
      color: white;
    }
    h1{
      font-size: 10rem;
      font-weight: 900;
      color: white;
    }
  }
}