<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">freshgear</a>
    </div>
    <div class="menu">
      <a href="/about">About</a>
      <a href="/products/new-arrivals">New Arrival</a>
      <a href="/products">All Products</a>
      <a href="#" class="cart-link">Cart<div>4</div></a>
    </div>
  </header>
  
    @!section('content')

  <section id="cart-popup" class="">
      <div class="cart-title">
        <div class="title">My Cart</div>
      </div>
    <div class="cart-items">
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <img src="/img/products/adidas-yeezy-boost-350-white.png">
          <div class="delete-btn">
            <div class="circle">X</div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-total">
      <div class="inside-container">
        <div class="title">Total</div>
        <div class="number"> x4</div>
      </div>
    </div>
    <div class="price-total">
      <div class="inside-container">
        <div class="title">Total</div>
        <div class="number"> $3,000</div>
      </div>
    </div>
    <div class="checkout">
      <div class="title">Checkout</div>
      <span class="ti-shopping-cart"></span>
    </div>
  </section>
  



  <script src="js/dist/vendors~FirstComp.js"></script>
  <script src="js/dist/FirstComp.js"></script>
  
  @!section('javascript')
</body>
</html>
